<p>
Next, we will show you a list of statements describing feelings and behaviors a person might have.
<br/> For each statement, please indicate how often you have felt or behaved this way during the past week.
<br/><br/> 
</p>
