<p>
Next, we will show you a list of statements describing feelings and thoughts a person might have.
<br/> For each statement, please rate how much it describes your thoughts and feelings.
<br/>There are no correct or incorrect answers to those questions. We are interested in your genuine thoughts and feelings.
<br/><br/> 
</p>




