<style type="text/css">
  body {font-family: arial,verdana,sans-serif;direction: rtl; text-align:right}
</style>
<p> 
במסכים הבאים נציג בפניך רשימת משפטים, המתארים את הדרך בה אולי הרגשת או התנהגת בזמן האחרון. <br/>
 אנא ציי<%=global.femaleN%><%=global.femaleI%> באיזו תדירות הרגשת או התנהגת כך במהלך השבועיים האחרונים. <br/>
</p>



