<style type="text/css">
  body {font-family: arial,verdana,sans-serif;direction: rtl; text-align:right}
</style>
<p> 
במטלה הבאה, תמיי<%=global.femaleN%><%=global.femaleI%> שוב משפטים שונים לקטגוריות. <br/>
המיון משתנה בכל סיבוב, אז חשוב לקרוא את ההנחיות בתשומת לב רבה. 
</p>


