<style type="text/css">
  body {font-family: arial,verdana,sans-serif;direction: rtl; text-align:right}
</style>
<p> 
להלן רשימה של בעיות ותלונות שיש לפעמים לאנשים. קרא<%=global.femaleI%> כל פריט בעיון וסמ<%=global.femaleN%><%=global.femaleI%> את התשובה המתארת
באופן הטוב ביותר באיזו מידה סבלת מבעיה זו <u>בחודש האחרון כולל היום</u>.<br/>
</p>



