<style type="text/css">
  body {font-family: arial,verdana,sans-serif;direction: rtl; text-align:right}
</style>
<p> 
במסכים הבאים נציג בפניך משפטים המתארים את תחושותיך בזמן האחרון. אנא ציי<%=global.femaleN%><%=global.femaleI%> את מידת הסכמתך עם כל פריט.<br/>
אין תשובות נכונות או שגויות לשאלות אלו. אנא ענ<%=global.femaleIA%> בכנות רבה ככל הניתן.<br/>
</p>



