
<style type="text/css">
  body {font-family: arial,verdana,sans-serif;direction: rtl; text-align:right}
</style>
<p> 
הגעת לסוף הניסוי. אנו מודים לך על ההשתתפות.<br/>
אנא קרא<%=global.femaleI%> לנסיין/נית.<br/>
</p>

